.certificate{
    padding: 80px 0 200px;
    .container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    &-subtitle{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #DA292A;
        margin-bottom: 10px;
    }
    &-title{
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 50px;
        color: black;
        margin-bottom: 14px;
    }
    &-text{
        color: #9E9E9E;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        max-width: 560px;
        text-align: center;
    }
}