mixin about()
    .about 
        .container
            .about__left 
                h4.about__left-subtitle О нас
                h2.about__left-title Мы предоставляем наивысшее качество пищевой продукции
                p.about__left-text При транспортировке и хранении мяса соблюдаются все санитарные нормы, температурные условия. Продукт хранится на складах в камерах при температуре не выше -18°С, относительной влажности воздуха -95-98 %.
            .about__right 