mixin certificate()
    .certificate#certificate
        .container
            h3.certificate-subtitle ХАЛЯЛЬ
            h2.certificate-title Рекомендовано для Вас
            p.certificate-text Продукция не содержит компонентов, запрещенных для употребления в пищу, и является чистым продуктом.
            img(src="@img/certificate.png", alt="" draggable="false")