mixin header()
    header.header 
        .container 
            .header__logo
                img(alt="" src="@img/logo.svg" draggable="false").header__logo-img
            .header__nav 
                .header__nav-top
                    a(href="mailto: meatezy@support.com").header__nav-top__btn 
                        <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1875 4.00391C14.2969 3.92188 14.4609 4.00391 14.4609 4.14062V9.71875C14.4609 10.457 13.8594 11.0312 13.1484 11.0312H1.77344C1.03516 11.0312 0.460938 10.457 0.460938 9.71875V4.14062C0.460938 4.00391 0.597656 3.92188 0.707031 4.00391C1.33594 4.49609 2.12891 5.09766 4.91797 7.12109C5.49219 7.53125 6.47656 8.43359 7.46094 8.43359C8.41797 8.43359 9.42969 7.53125 9.97656 7.12109C12.7656 5.09766 13.5586 4.49609 14.1875 4.00391ZM7.46094 7.53125C6.80469 7.55859 5.90234 6.73828 5.4375 6.41016C1.80078 3.78516 1.52734 3.53906 0.707031 2.88281C0.542969 2.77344 0.460938 2.58203 0.460938 2.36328V1.84375C0.460938 1.13281 1.03516 0.53125 1.77344 0.53125H13.1484C13.8594 0.53125 14.4609 1.13281 14.4609 1.84375V2.36328C14.4609 2.58203 14.3516 2.77344 14.1875 2.88281C13.3672 3.53906 13.0938 3.78516 9.45703 6.41016C8.99219 6.73828 8.08984 7.55859 7.46094 7.53125Z" fill="#DA292A"/>
                        </svg>
                        | meatezy@support.com
                    a(href="tel: +624782240190").header__nav-top__btn 
                        <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.91406 14.5078C0.921875 8.76562 0.210938 8.16406 0.210938 6.03125C0.210938 3.13281 2.53516 0.78125 5.46094 0.78125C8.35938 0.78125 10.7109 3.13281 10.7109 6.03125C10.7109 8.16406 9.97266 8.76562 5.98047 14.5078C5.73438 14.8906 5.16016 14.8906 4.91406 14.5078ZM5.46094 8.21875C6.66406 8.21875 7.64844 7.26172 7.64844 6.03125C7.64844 4.82812 6.66406 3.84375 5.46094 3.84375C4.23047 3.84375 3.27344 4.82812 3.27344 6.03125C3.27344 7.26172 4.23047 8.21875 5.46094 8.21875Z" fill="#DA292A"/>
                        </svg>
                        | +62 478-2240-190
                .header__nav-bot
                    ul.header__nav-bot__btns
                        li.header__nav-bot__btns-btn.active
                            a(href="#") Главная 
                        li.header__nav-bot__btns-btn
                            a(href="#") О нас 
                        li.header__nav-bot__btns-btn
                            a(href="#") Продукция 
                        li.header__nav-bot__btns-btn
                            a(href="#") Сертификаты 
                        li.header__nav-bot__btns-btn
                            a(href="#") Контакты 