mixin intro()
    section.intro 
        .container 
            .intro__box 
                h1.intro__box-title Замороженное мясо высшего качества
                p.intro__box-text Компания “The Prime Meat” занимается поставкой мяса говядины в блоках и полутушах. Мы стремимся предоставить лучшее качество в кротчайшие сроки
                button(type="button").intro__box-btn Подробнее 
        .intro-bg 
            img(src="@img/intro.png", alt="intro" draggable="false")
            .toning
            .intro-bg__bot
                <svg width="1920" height="71" viewBox="0 0 1920 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_203_7)">
                        <path d="M960.038 66.789L-289.111 0.499023V70.499H2208.19V0.499023L960.038 66.789Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_203_7">
                            <rect width="2497.3" height="70" fill="white" transform="translate(-289.111 0.499023)"/>
                        </clipPath>
                    </defs>
                </svg>