mixin products()
    .products#products
        .products-bg 
            img(src="@img/products-bg.png", alt="products-bg" draggable="false")
            .toning
        .container
            h3.products-subtitle продукция
            h2.products-title Блочное мясо и полутуши
            ul.products__cards
                li.products__cards-row
                    .products__card
                        h4.products__card-title Полутуша
                        h5.products__card-subtitle 1-я категория
                        p.products__card-text Бык, корова плотной упитанности с отчетливыми прослойками жира на разрубе грудной части и прослойками жира на разрубе между остистыми отростками
                    .products__card
                        h4.products__card-title Полутуша
                        h5.products__card-subtitle 2-я категория
                        p.products__card-text Бык, корова хорошей упитанности, остистые отростки позвонков, седалищные бугры и маклаки выступают отчетливо, присутствуют жировые отложения
                li.products__cards-row
                    .products__card
                        h4.products__card-title Блочное мясо
                        h5.products__card-subtitle 1-й сорт
                        ul.products__card-list
                            li
                                p Лопаточная часть
                            li 
                                p Плечевая часть
                            li 
                                p Пашина
                    .products__card
                        h4.products__card-title Блочное мясо
                        h5.products__card-subtitle 2-й сорт
                        ul.products__card-list
                            li
                                p Зарез
                            li 
                                p голяшка (рулька)
                            li 
                                p голяшка
                    .products__card
                        h4.products__card-title Блочное мясо
                        h5.products__card-subtitle Высший сорт
                        ul.products__card-list
                            li
                                p Спинная часть
                            li 
                                p Грудная часть
                            li 
                                p Филей
                            li 
                                p Оковалок
                            li 
                                p Кострец
                            li 
                                p Огузок